<div class="alert alert-block alert-warning">
  <p><strong><%= _("Notice") %></strong> <%= _("Error Proxying PuppetDB Dashboard: #{@proxy_error}") %></p>
  <p><%= _("Maybe you need to set") %> <%= link_to(_("puppetdb_dashboard_address"), settings_path(:search => 'puppetdb_dashboard_address')) %> <%= _("in Settings") %></p>
</div>
