<% title _('PuppetDB Nodes') %>

<div class="col-md-12">
  <div class="row">
    <div class="container-fluid container-cards-pf">
      <div class="row row-cards-pf">
        <div class="col-xs-6 col-sm-4 col-md-4">
          <div class="card-pf card-pf-accented card-pf-aggregate-status">
            <h2 class="card-pf-title">
              <span class="fa fa-database"></span><span class="card-pf-aggregate-status-count"><%= @puppetdb_hosts.count %></span> <%= _('Hosts in PuppetDB') %>
            </h2>
            <div class="card-pf-body">
              <p class="card-pf-aggregate-status-notifications">
              <span class="card-pf-aggregate-status-notification"><span class="pficon pficon-ok"></span></span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4">
          <div class="card-pf card-pf-accented card-pf-aggregate-status">
            <h2 class="card-pf-title">
              <span class="pficon pficon-server"></span><span class="card-pf-aggregate-status-count"><%= @foreman_hosts.count %></span> <%= _('Hosts in Foreman') %>
            </h2>
            <div class="card-pf-body">
              <p class="card-pf-aggregate-status-notifications">
              <span class="card-pf-aggregate-status-notification"><span class="pficon pficon-ok"></span></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h2><%= _('Hosts unknown to Foreman') %></h2>
    </div>
    <div class="row">
      <table class="<%= table_css_classes 'table-fixed' %>">
        <thead>
          <tr>
            <th><%= _('Name') %></th>
            <th class="col-md-1"><%= _('Actions') %></th>
          </tr>
        </thead>
        <tbody>
          <% @unknown_hosts.each do |node| %>
            <tr>
              <td class="ellipsis"><%= node %></td>
              <td>
                <%= action_buttons(
                  (display_link_if_authorized(_("Import"), hash_for_import_puppetdb_foreman_node_path(:id => node), :method => :put)),
                  (display_delete_if_authorized(hash_for_puppetdb_foreman_node_path(:id => node), :class => 'delete', :text => _('Deactivate')))
                ) %>
            </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
